.textarea {
  width: 250px;
  padding: 4px 6px;
  border-radius: 4px;
  border: 1px solid var(--gray);
  height: 32px;
  font-size: var(--text-size);
  line-height: var(--text-line-heigh);
  resize: vertical;
  max-height: 400px;
  min-height: 32px;
  transition: border-color ease-in-out 0.2s;
}

.textarea:hover {
  border-color: var(--primary-light);
}

.textarea:focus {
  outline-color: var(--primary-light);
}

.helperText {
  color: var(--gray);
  font-size: 12px;
  padding-top: 4px;
  line-height: 14px;
}

.textarea__error {
  border-color: var(--red);
}

.helperText__error {
  color: var(--red);
}

@media (max-width: 530px) {
  .textarea {
    width: 100%;
  }
}
