.app {
  text-align: center;
}

.header {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: var(--white);
  padding: 8px;
}

.content {
  margin: 32px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
