.app {
  text-align: center;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: white;
  padding: 8px;
}

.content {
  margin: 32px;
  width: 500px;
}
